input {
  display: block;
  border: 0;
  box-shadow: none;
  color: black;
  font-size: inherit;
  min-height: 30px;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.91);
    border: 1px solid hsla(0, 0%, 35%, 0.68);
}

button {

    border: none;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 0 !important;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: black;
    color: #fff;
    width: 100%;

}

.angular-app-style {

}
